{% extends "layout.html" %}

{% block body %}
  <h4>RIGHTMOVE Property For Sale {{location}} Scraper</h4>
  <hr class="my-4"/>
  <table id="scraped-table" class="display table responsvive text-left mt-4" style="width: 100%">
    <thead>
      <tr>
        <th>title</th>
        <th>address</th>
        <th>price</th>
        <th>description</th>
        <th>added_on</th>
        <th>seller</th>
        <th>number</th>
        <th>property_type</th>

      </tr>
    </thead>
    <tbody>
      {% for row in row_data %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
          <td>{{row[5]}}</td>
          <td>{{row[6]}}</td>
          <td>{{row[7]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr class="my-4"/>
  <a href="/download" class="btn btn-primary">Download</a>
  
  <script type="text/javascript">
    $(document).ready( function() {
      $('#scraped-table').DataTable();
    });
  </script>
{% endblock %}


